$movieBlackH: 4rem;
$summonWidth: 0.5rem;
$thrillColor: orange;
$storiesColor: #0bb90b;
$writerColor: #b543d0;
$bodyBackground: url(../images/Subtle-light-patterns-Vol05-PIXEDEN/017-Subtle-light-patterns-Vol04.png);
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    height: $movieBlackH;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: #292929;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    cursor:default;
}

#stroy_nav {
    padding: $movieBlackH 0;
    height: 100%;
}

#story_ul {}

body {
    position: relative;
    //    background-image:url(../images/Subtle-light-patterns-Vol05-PIXEDEN/018-Subtle-light-patterns-Vol04.png), linear-gradient(90deg, rgba(0, 0, 0, .3) 0%, rgba(255, 255, 255,0) 20%, rgba(255, 255, 255,0) 80%, rgba(0, 0, 0, .3) 100%);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .25) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, .25) 100%),$bodyBackground;
    overflow: hidden;
}

.row {
    position: relative;
}

.viewBox {
    height: 90%;
}

.slideBox {}

#introBox {
    display: none;
    width: 45%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.3);
    h2 {
        color: white;
        font-size: 2rem;
        line-height: 3rem;
        text-shadow: 1px 1px black;
    }
    p {
        color: black;
        font-weight: bold;
//        font-size: 1.3rem;
        font-size: 2.5vh;
//        line-height: 2.5rem;
        line-height: 4.8vh;
        text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
    }
}

.summonBox {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0px;
    width: 0px;
    margin: auto;
    background: black;
}

.summonAct {
    animation: summonAct 3s ease-out forwards;
}

@keyframes summonAct {
    0% {
        height: 0;
        width: 0;
    }
    10% {
        height: 5%;
        width: $summonWidth;
    }
    30% {
        height: 100%;
        width: $summonWidth;
    }
    70% {
        height: 100%;
        width: $summonWidth;
    }
    90% {
        height: 5%;
        width: $summonWidth;
    }
    100% {
        height: 0;
        width: 0;
    }
}

.slideOut {
    text-align: center;
    position: relative;
    height: 100%;
    width: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.5s ease-in 1s;
    &.summonOut{
        width: 100%;
    }
}

#slideImg {
    position: relative;
    z-index: 5;
    height: 95%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.7);
}

.folder {
    border-radius: 3% 0 3% 3%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 20%;
    height: 50%;
    display: inline-block;
    transform-origin: 200% 200%;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.6);

    h2 {
        color: #000000;
        text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 10%;
        left: -2px;
        width: 100%;
        padding: 0.5rem 0;
        color: black;
//        color: white;
//        font-weight: bold;
        font-size: 1.3rem;
        border-right: 3px solid rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        border-left: 2px solid rgba(255, 255, 255, 0.2);
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        vertical-align: middle;
        transition: bottom 0.8s linear;
    }
    &:hover {
        transition: 0.3s linear;
        transform: scale(1.3);
        box-shadow: 2.5rem 1.5rem 2rem rgba(0, 0, 0, 0.6);

        h2 {
            transition: bottom 0.2s linear;
            bottom: 40%;
        }
    }
}

.folderAct {
	transition: right 1s;
    right: 88.5%;
    transform-origin: 200% 170%;
}

.shitFirefox {
    font-size: 1.2rem;
    width: 8rem;
    position: absolute;
    left: 100%;
    transform-origin: top left;
    transform: rotate(90deg);
}

#folderUl {
    height: 100%;
    width: 100%;
    text-align: center;
}

#aboutThrill {
    background: $thrillColor;
    right: 60%;
    &.folderAct{
        transition: right 1s;
        right: 88.5%;
        transform-origin: 200% 170%;
        top: 30%;
    }
    .folder_tag {
        background: $thrillColor;
    }
    h2 {
        background: brown;
        background-image: linear-gradient(150deg, #bf3737 0%, #841a1a 100%);
    }
}

#stories {
    background: $storiesColor;
    right: 30%;

    &.folderAct{
        transition: right 1s;
        right: 88.5%;
        top: 50%;
        transform-origin: 200% 170%;
    }

    .folder_tag {
        background: $storiesColor;
    }
    h2 {
        background: #6f6a0a;
        background-image: linear-gradient(150deg, #b2ac3c 0%, #6f6a0a 100%);
    }
    img {
        border-radius: 3% 0 3% 3%;
        height: 100%;
        width: auto;
        max-width: 100%;
    }
}

#aboutWriter {
    background: $writerColor;
    right: 0;
    &.folderAct{
        transition: right 1s;
        right: 88.5%;
        top: 70%;
        transform-origin: 200% 170%;
    }
    .folder_tag {
        background: $writerColor;
    }
    h2 {
        background: #1ba39e;
        background-image: linear-gradient(150deg, #23b9b3 0%, #0f7c78 100%);
    }
    img {
        position: relative;
        margin: auto;
        width: 60%;
        height: auto;
        top: 10%;
    }
}

.folder_tag {
    position: absolute;
    left: 100%;
    top: 0;
    width: 10%;
    height: 30%;
    border-radius: 0 7px 7px 0;
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.article {
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}

#stories_UlBox {
    position: absolute;
    left: 0;
    top: -100%;
    height: 100%;
    transition: 0.5s ease 2s;
    //    top: -110%;
    z-index: 3;
    &.sUlBoxAct{
        top: 0;
    }
}

#storyUl {
    overflow: hidden;
    .storiesLi {
        position: relative;
        margin: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 3px black, 0px 0px 3px black;
        //    text-align: center;
        &::before {
            position: absolute;
            content: " ";
            background: red;
            right: 100%;
            top: 50%;
            height: 0.2rem;
            width: 100%;
            border-bottom: 1px solid black;
        }
    }
    .storySelect {
        text-shadow: 2px 2px 2px black, 0px 0px 2px black, 2px 2px 5px white, -1px -1px 5px white;
    }
    .storyAct {
        cursor: pointer;
        color: darkgoldenrod;
        &:hover {
            transform-origin: center;
            transform: scale(1.2);
            text-shadow: 2px 2px 2px black, 0px 0px 2px black, 2px 2px 5px white, -1px -1px 5px white;
        }
    }
    .storyDis {
        color: gray;
    }
}

#bgImg {
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;
}

.chapterNav {
    transition: 1s ease-in 2.5s;
    position: absolute;
    text-align: center;
    width: 10rem;
    right: 50%;
    top: 0;
    padding-top: 10rem;
    opacity: 0;
    a {
        color: #49b3f5;
        text-decoration: none;
    }
    /* unvisited link */

    a:visited {
        color: #49b3f5;
    }
    /* visited link */

    a:hover {
        color: #0df030;
    }
    /* mouse over link */

    a:active {
        color: #49b3f5;
    }
}

.chapterAct {
    opacity: 1;
    right: 0;
}

.chapterLi {
    margin: 1rem;
    position: relative;
    z-index: 3;
    font-size: 1.2rem;
    line-height: 1.5rem;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 1rem;
}

#thrillSlide {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    p {
        font-size: 2.2vh;
        line-height: 4vh;
    }
}

#storySlide {
    height: 65%;
    position: relative;
    z-index: 0;
}

#folderLogo {
    margin-top: 25%;
    width: 90%;
}

.thrillText {
//    padding-bottom: 5rem;
    width: 60vw;
    img {
        margin-top: -2.5vh;
        height: 23vh;
    }
}

.allMid {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#authorSlide {
    //    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    h2 {
        font-weight: bold;
        font-size: 3.3vh;
        margin: -3vh 0 4vh 0;
    }
    p {
        font-size: 2.5vh;
        line-height: 4vh;
    }
}

#stroyHead {
    position: relative;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px gray,-1px -1px 1px gray;
    &::before {
        border-left: 2px solid black;
        position: absolute;
        top: 100%;
        left: 0;
        content: " ";
        background: red;
        width: 0.2rem;
        height: 10rem;
    }
}

#imgEmail {
    height: 10vh;
}

#email {
    position: absolute;
    bottom: 0;
    margin: auto;
    transform: translateX(-50%);
//    left: calc( 50% - 2.5rem);
}

#authorImg {
    margin: auto;
    width: 45vh;
    height: 40vh;
}

#folderSwitcher {
    display: none;
}

.verticalMid {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.viewHeight {
    height: 100%;
}

.authorText {
    margin: auto;
    padding-bottom: 5rem;
    width: 60vw;
}

#allsList {
    margin: 1vh;
    p {
        font-size: 2vh;
        line-height: 3.2vh;
    }
}
#returnBtm {
    display: none;
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
//    border: 3px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

#bgStyle1 {
    position: absolute;
    left: 5vw;
    top: 4vh;
    font-weight: bold;
    font-size: 9.5vh;
    color: rgba(69, 68, 68, 0.61);
}

#bgStyle2 {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    font-weight: bold;
    font-size: 7vw;
    color: rgba(69, 68, 68, 0.61);
}

#loading {
    bottom: 2rem;
    left: 3rem;
}

#skip {
    bottom: 2rem;
    right: 3rem;
}



#portTitle {
//    display: none;
    font-size: 5.5vh;
}

.authorH2 {
    display: none;
}
