
.authorH2 {
    position: relative;
}

.authorText {
    h3{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
        font-weight: 600;
        text-align: left;
    }
    p {
        margin: 1rem 0;
        text-indent: 2rem;
        text-align: left;
    }
}

.slideOut {
    position: relative;
}

.thrillText {
//    width: 100%;
    padding: 1rem 2rem 3rem 2rem;
}
