


.thrillText {
    h3{
        line-height: 3rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
    }
    h4{
        color: dimgray;
    }
    p {
        text-indent: 2rem;
        text-align: left;
    }
}



#introBox {
    text-align: left;
    h2 {
        text-align: center;
    }
}

.authorText {

    p {
        text-indent: 2rem;
        text-align: left;
    }
}
