@charset "UTF-8";
/* line 6, ../sass/index_landB.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  height: 4rem;
}

/* line 15, ../sass/index_landB.scss */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  color: #292929;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
  cursor: default;
}

/* line 25, ../sass/index_landB.scss */
#stroy_nav {
  padding: 4rem 0;
  height: 100%;
}

/* line 32, ../sass/index_landB.scss */
body {
  position: relative;
  overflow: hidden;
}

/* line 37, ../sass/index_landB.scss */
.row {
  position: relative;
}

/* line 41, ../sass/index_landB.scss */
.viewBox {
  height: 90%;
}

/* line 47, ../sass/index_landB.scss */
#introBox {
  display: none;
  width: 45%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.3);
}
/* line 57, ../sass/index_landB.scss */
#introBox h2 {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 1px 1px black;
}
/* line 63, ../sass/index_landB.scss */
#introBox p {
  color: black;
  font-weight: bold;
  font-size: 2.5vh;
  line-height: 4.8vh;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px 1px 2px rgba(255, 255, 255, 0.3), 1px -1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(255, 255, 255, 0.3);
  margin: 1vh 0;
}

/* line 77, ../sass/index_landB.scss */
.summonBox {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 0px;
  width: 0px;
  margin: auto;
  background: black;
}

/* line 87, ../sass/index_landB.scss */
.summonAct {
  animation: summonAct 3s ease-out forwards;
}

@keyframes summonAct {
  0% {
    height: 0;
    width: 0;
  }
  10% {
    height: 5%;
    width: 0.5rem;
  }
  30% {
    height: 100%;
    width: 0.5rem;
  }
  70% {
    height: 100%;
    width: 0.5rem;
  }
  90% {
    height: 5%;
    width: 0.5rem;
  }
  100% {
    height: 0;
    width: 0;
  }
}
/* line 118, ../sass/index_landB.scss */
.slideOut {
  text-align: center;
  position: relative;
  height: 100%;
  width: 0;
  left: 0;
  overflow: hidden;
  transition: width 0.5s ease-in 1s;
}
/* line 126, ../sass/index_landB.scss */
.slideOut.summonOut {
  width: 100%;
}

/* line 131, ../sass/index_landB.scss */
#slideImg {
  position: relative;
  z-index: 5;
  height: 95%;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.7);
}

/* line 139, ../sass/index_landB.scss */
.folder {
  border-radius: 3% 0 3% 3%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  width: 20%;
  height: 50%;
  display: inline-block;
  transform-origin: 200% 200%;
  cursor: pointer;
  transition-duration: 1s;
  box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.6);
}
/* line 152, ../sass/index_landB.scss */
.folder h2 {
  color: #000000;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 10%;
  left: -2px;
  width: 100%;
  padding: 0.5rem 0;
  color: black;
  font-size: 1.3rem;
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  transition: bottom 0.8s linear;
}
/* line 171, ../sass/index_landB.scss */
.folder:hover {
  transition: 0.3s linear;
  transform: scale(1.3);
  box-shadow: 2.5rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
}
/* line 176, ../sass/index_landB.scss */
.folder:hover h2 {
  transition: bottom 0.2s linear;
  bottom: 40%;
}

/* line 183, ../sass/index_landB.scss */
.folderAct {
  transition: right 1s;
  right: 88.5%;
  transform-origin: 200% 170%;
}

/* line 189, ../sass/index_landB.scss */
.shitFirefox {
  font-size: 1.2rem;
  width: 8rem;
  position: absolute;
  left: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
}

/* line 198, ../sass/index_landB.scss */
#folderUl {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* line 204, ../sass/index_landB.scss */
#aboutThrill {
  background: orange;
  right: 60%;
}
/* line 207, ../sass/index_landB.scss */
#aboutThrill.folderAct {
  transition: right 1s;
  right: 88.5%;
  transform-origin: 200% 170%;
  top: 30%;
}
/* line 213, ../sass/index_landB.scss */
#aboutThrill .folder_tag {
  background: orange;
}
/* line 216, ../sass/index_landB.scss */
#aboutThrill h2 {
  background: brown;
  background-image: linear-gradient(150deg, #bf3737 0%, #841a1a 100%);
}

/* line 222, ../sass/index_landB.scss */
#stories {
  background: #0bb90b;
  right: 30%;
}
/* line 226, ../sass/index_landB.scss */
#stories.folderAct {
  transition: right 1s;
  right: 88.5%;
  top: 50%;
  transform-origin: 200% 170%;
}
/* line 233, ../sass/index_landB.scss */
#stories .folder_tag {
  background: #0bb90b;
}
/* line 236, ../sass/index_landB.scss */
#stories h2 {
  background: #6f6a0a;
  background-image: linear-gradient(150deg, #b2ac3c 0%, #6f6a0a 100%);
}
/* line 240, ../sass/index_landB.scss */
#stories img {
  border-radius: 3% 0 3% 3%;
  height: 100%;
  width: auto;
  max-width: 100%;
}

/* line 248, ../sass/index_landB.scss */
#aboutWriter {
  background: #b543d0;
  right: 0;
}
/* line 251, ../sass/index_landB.scss */
#aboutWriter.folderAct {
  transition: right 1s;
  right: 88.5%;
  top: 70%;
  transform-origin: 200% 170%;
}
/* line 257, ../sass/index_landB.scss */
#aboutWriter .folder_tag {
  background: #b543d0;
}
/* line 260, ../sass/index_landB.scss */
#aboutWriter h2 {
  background: #1ba39e;
  background-image: linear-gradient(150deg, #23b9b3 0%, #0f7c78 100%);
}
/* line 264, ../sass/index_landB.scss */
#aboutWriter img {
  position: relative;
  margin: auto;
  width: 60%;
  height: auto;
  top: 10%;
}

/* line 273, ../sass/index_landB.scss */
.folder_tag {
  position: absolute;
  left: 100%;
  top: 0;
  width: 10%;
  height: 30%;
  border-radius: 0 7px 7px 0;
  color: black;
  font-size: 1.5rem;
  line-height: 2rem;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* line 291, ../sass/index_landB.scss */
.article {
  width: 80%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
}

/* line 300, ../sass/index_landB.scss */
#stories_UlBox {
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
  transition: 0.5s ease 2s;
  z-index: 3;
}
/* line 308, ../sass/index_landB.scss */
#stories_UlBox.sUlBoxAct {
  top: 0;
}

/* line 313, ../sass/index_landB.scss */
#storyUl {
  overflow: hidden;
}
/* line 315, ../sass/index_landB.scss */
#storyUl .storiesLi {
  position: relative;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 3px black, 0px 0px 3px black;
}
/* line 322, ../sass/index_landB.scss */
#storyUl .storiesLi::before {
  position: absolute;
  content: " ";
  background: red;
  right: 100%;
  top: 50%;
  height: 0.2rem;
  width: 100%;
  border-bottom: 1px solid black;
}
/* line 333, ../sass/index_landB.scss */
#storyUl .storySelect {
  text-shadow: 2px 2px 2px black, 0px 0px 2px black, 2px 2px 5px white, -1px -1px 5px white;
}
/* line 336, ../sass/index_landB.scss */
#storyUl .storyAct {
  cursor: pointer;
  color: darkgoldenrod;
}
/* line 339, ../sass/index_landB.scss */
#storyUl .storyAct:hover {
  transform-origin: center;
  transform: scale(1.2);
  text-shadow: 2px 2px 2px black, 0px 0px 2px black, 2px 2px 5px white, -1px -1px 5px white;
}
/* line 345, ../sass/index_landB.scss */
#storyUl .storyDis {
  color: gray;
}

/* line 350, ../sass/index_landB.scss */
#bgImg {
  position: absolute;
  top: 50%;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: none;
}

/* line 359, ../sass/index_landB.scss */
.chapterNav {
  transition: 1s ease-in 2.5s;
  position: absolute;
  text-align: center;
  width: 10rem;
  right: 50%;
  top: 0;
  padding-top: 10rem;
  opacity: 0;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
}
/* line 369, ../sass/index_landB.scss */
.chapterNav a {
  color: #49b3f5;
  text-decoration: none;
}
/* line 375, ../sass/index_landB.scss */
.chapterNav a:visited {
  color: #49b3f5;
}
/* line 380, ../sass/index_landB.scss */
.chapterNav a:hover {
  color: #0df030;
}
/* line 385, ../sass/index_landB.scss */
.chapterNav a:active {
  color: #49b3f5;
}

/* line 390, ../sass/index_landB.scss */
.chapterAct {
  opacity: 1;
  right: 0;
}

/* line 395, ../sass/index_landB.scss */
.chapterLi {
  margin: 1rem;
  position: relative;
  z-index: 3;
  font-size: 1.2rem;
  line-height: 1.5rem;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 1rem;
}

/* line 407, ../sass/index_landB.scss */
#thrillSlide {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 413, ../sass/index_landB.scss */
#thrillSlide p {
  font-size: 2.2vh;
  line-height: 4vh;
}

/* line 419, ../sass/index_landB.scss */
#storySlide {
  height: 65%;
  position: relative;
  z-index: 0;
}

/* line 425, ../sass/index_landB.scss */
#folderLogo {
  margin-top: 25%;
  width: 90%;
}

/* line 430, ../sass/index_landB.scss */
.thrillText {
  width: 60vw;
}
/* line 433, ../sass/index_landB.scss */
.thrillText img {
  margin-top: -2.5vh;
  height: 23vh;
}

/* line 439, ../sass/index_landB.scss */
.allMid {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* line 446, ../sass/index_landB.scss */
#authorSlide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 452, ../sass/index_landB.scss */
#authorSlide h2 {
  font-weight: bold;
  font-size: 3.3vh;
  margin: -3vh 0 4vh 0;
}
/* line 457, ../sass/index_landB.scss */
#authorSlide p {
  font-size: 2.5vh;
  line-height: 4vh;
}

/* line 463, ../sass/index_landB.scss */
#stroyHead {
  position: relative;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px gray,-2px -2px 2px gray,-2px 2px 2px gray,2px -2px 2px gray;
}
/* line 470, ../sass/index_landB.scss */
#stroyHead::before {
  border-left: 2px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  content: " ";
  background: red;
  width: 0.2rem;
  height: 10rem;
}

/* line 482, ../sass/index_landB.scss */
#imgEmail {
  height: 10vh;
}

/* line 486, ../sass/index_landB.scss */
#email {
  position: absolute;
  bottom: 0;
  margin: auto;
  transform: translateX(-50%);
}

/* line 494, ../sass/index_landB.scss */
#authorImg {
  margin: auto;
  width: 45vh;
  height: 40vh;
}

/* line 500, ../sass/index_landB.scss */
#folderSwitcher {
  display: none;
}

/* line 504, ../sass/index_landB.scss */
.verticalMid {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

/* line 510, ../sass/index_landB.scss */
.viewHeight {
  height: 100%;
}

/* line 514, ../sass/index_landB.scss */
.authorText {
  margin: auto;
  padding-bottom: 5rem;
  width: 60vw;
}

/* line 520, ../sass/index_landB.scss */
#allsList {
  margin: 1vh;
}
/* line 522, ../sass/index_landB.scss */
#allsList p {
  font-size: 2vh;
  line-height: 3.2vh;
}

/* line 527, ../sass/index_landB.scss */
#returnBtm {
  display: none;
  position: absolute;
  right: 0rem;
  top: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

/* line 540, ../sass/index_landB.scss */
#bgStyle1 {
  position: absolute;
  left: 5vw;
  top: 4vh;
  font-weight: bold;
  font-size: 9.5vh;
  color: rgba(69, 68, 68, 0.61);
}

/* line 549, ../sass/index_landB.scss */
#bgStyle2 {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  font-weight: bold;
  font-size: 7vw;
  color: rgba(69, 68, 68, 0.61);
}

/* line 558, ../sass/index_landB.scss */
#loading {
  bottom: 2rem;
  left: 3rem;
}

/* line 563, ../sass/index_landB.scss */
#skip {
  bottom: 2rem;
  right: 3rem;
}

/* line 570, ../sass/index_landB.scss */
#portTitle {
  font-size: 5.5vh;
}

/* line 575, ../sass/index_landB.scss */
.authorH2 {
  display: none;
}
